---
interface Props {
  id?: string;
}

const { id = "que-aprenderas" }: Props = Astro.props;

const HIGHLIGHTS = [
  "Manifestarás desde la claridad y la confianza",
  "Aprenderás a visualizar la meditación para crear con el corazón consciente",
  "Sanarás creencias limitantes que bloquean tus sueños",
  "Elevarás tu vibración a través del sound healing para resonar con lo que deseas",
  "Crearás hábitos de amor propio y presencia",
  "Reconocerás cómo soltar y confiar en el proceso para abrirte a la abundancia",
];
---

<section id={id} class="bg-white py-16 lg:py-24">
  <div class="container mx-auto px-4 lg:px-0">
    <h2
      class="font-heading text-center text-3xl font-bold
    text-primary lg:text-4xl"
    >
      ¿Qué aprenderás?
    </h2>

    <div class="mt-6 grid gap-4 grid-cols-3 lg:grid-cols-6">
      {
        HIGHLIGHTS.map((item, index) => (
          <div
            class="flex h-full flex-col justify-center relative
          rounded-3xl border border-accent bg-primary
          px-2 py-6 text-center text-accent shadow-lg"
          >
            <svg
              class="absolute h-full w-full inset-0
              bg-amber-900 "
              viewBox="0 0 103 131"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="0.25"
                y="0.25"
                width="102.5"
                height="130.5"
                rx="11.75"
                stroke="#DFD5C8"
                stroke-width="0.5"
              />
              <rect
                x="0.25"
                y="0.25"
                width="102.5"
                height="130.5"
                rx="21.75"
                stroke="#DFD5C8"
                stroke-width="0.5"
              />
            </svg>

            <p class="text-sm font-medium leading-relaxed md:text-base">
              {item}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @reference "../styles/global.css";
</style>
