---
import HighlightCard from './HighlightCard.astro';

interface Props {
  id?: string;
}

const { id = "que-aprenderas" }: Props = Astro.props;

const HIGHLIGHTS = [
  "Manifestarás desde la claridad y la confianza",
  "Aprenderás a visualizar la meditación para crear con el corazón consciente",
  "Sanarás creencias limitantes que bloquean tus sueños",
  "Elevarás tu vibración a través del sound healing para resonar con lo que deseas",
  "Crearás hábitos de amor propio y presencia",
  "Reconocerás cómo soltar y confiar en el proceso para abrirte a la abundancia",
];
---

<section id={id} class="bg-white py-16 lg:py-24">
  <div class="container mx-auto px-4 lg:px-0">
    <h2
      class="font-heading text-center text-3xl lg:text-5xl font-bold
    text-primary italic"
    >
      ¿Qué aprenderás?
    </h2>

    <div class="mt-6 lg:mt-16 grid gap-4 grid-cols-3 lg:grid-cols-6">
      {HIGHLIGHTS.map((item) => <HighlightCard text={item} />)}
    </div>
  </div>
</section>

<style>
  @reference "../styles/global.css";
</style>
